 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm a computer scientist, a full stack developer (primary with node.js in the back-end) and a processing fan. This is the place where I share my experiments, cool stuff that I'm working on and some award winning projects. </p>
                </div>
                <div class="col-lg-4">
                    <p>If you want to share a thought hit me up by email or by your favorite social network.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center"></div>
            </div>
        </div>
    </section>